all:
  children:
    master:
      hosts:
        ${master-ip}: {}
    nfs-server:
      hosts:
        ${nfs_server-ip}:
          ansible_ssh_common_args: -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
            -o ProxyCommand="ssh -W %h:%p -q bastion"
    ungrouped: {}
    workers:
      hosts:
        ${worker1-ip}:
          ansible_ssh_common_args: -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
            -o ProxyCommand="ssh -W %h:%p -q bastion"
        ${worker2-ip}:
          ansible_ssh_common_args: -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
            -o ProxyCommand="ssh -W %h:%p -q bastion"